<div style="margin: 20px; font-weight: bold;">Investment of {{investmentRelationName}}</div>

<div fxLayout="row" class="row">
  <button mat-fab color="accent" (click)="open('form', null)">
    <mat-icon aria-label="add new investment">add</mat-icon>
  </button>
</div>

<div *ngFor="let rw of rows">
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center">
    <div fxFlex="25" *ngFor="let inv of aligningObj[rw]" class="outer-card">
      <mat-card class="card-view" [ngClass]="{'selected-card mat-elevation-z12': p.pid === cardId}" style="min-height: 270px;">
        <mat-card-header>
          <mat-card-title>{{inv.investmentRelationName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content style="min-height: 100px">
          <div>{{inv.amount}} {{inv.currency}}</div>
          <div *ngIf="inv.is_lead" color="accent">Is Leader</div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="open('view', inv.pid)" color="primary">
            <mat-icon aria-label="view">visibility</mat-icon>
          </button>
          <button mat-icon-button (click)="open('form', inv.pid)" color="accent">
            <mat-icon aria-label="edit">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteInvestment(inv.pid)" color="warn">
            <mat-icon aria-label="delete">delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
