<button mat-raised-button color="primary" (click)="openForm()">
  <mat-icon>
    <i class="material-icons">add</i>
  </mat-icon>
</button>
<div>
  <ii-search-fields [target]="'product'" (searching)="search($event)"></ii-search-fields>
</div>
<mat-grid-list style="margin-top: 30px" cols="5">
    <mat-grid-tile *ngFor="let p of products">
        <mat-card (click)="showDetails(p.product_id)">
            <mat-card-content>
                <div>
                    Name: {{p.name}}
                </div>
                <div>
                    Farsi Name: {{p.name_fa}}
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<div *ngIf="showInDeep">
    <ii-product-form [productId]="productId"></ii-product-form>
</div>