<div fxLayout="row">
  <mat-card fxFlex="60" fxFlex.xs="100" fxFlex.sm="100" fxFlexOffset="20" fxFlexOffset.sm="0" fxFlexOffset.xs="0">
    <mat-card-title>
      <label *ngIf="id">Update Investment</label>
      <label *ngIf="!id">Add Investment</label>
    </mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="modifyInvestment()" [formGroup]="investmentForm">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.sm="center center" fxLayoutAlign="center center">
          <div fxFlex="50" class="field-container">
            <mat-input-container class="field">
              <input matInput type="text" placeholder="Amount" formControlName="amount" role="amount" tabindex="1"/>
            </mat-input-container>
          </div>
          <div fxFlex="50" class="field-container">
            <mat-select>
              <mat-option *ngFor="let cur of currencyList" [value]="cur">{{cur}}</mat-option>
            </mat-select>
            <mat-input-container>
              <input type="text" placeholder="Currency Abbreviation" />
            </mat-input-container>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
