<h4 class="row">Life Cycle Events of: <b>{{companyName}}</b></h4>

<div fxLayout="row" class="row">
  <button mat-fab color="accent" (click)="open('form')">
    <mat-icon aria-label="add new person">add</mat-icon>
  </button>
</div>

<div *ngFor="let rw of rows">
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start"
       fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center" class="row">
    <div fxFlex="25" *ngFor="let lce of aligningObj[rw]" class="outer-card">
      <mat-card class="card-view" (click)="select(lce.id)"
                [ngClass]="{'selected-card mat-elevation-z12': lce.id === cardId}" style="min-height: 270px;">
        <mat-card-header>
          <mat-card-title>
            <div>{{lce.lceTypeName}}</div>
            <div>{{lce.lceTypeNameFa}}</div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content style="min-height: 100px">
          <div>
            <b>Start Date: </b><span>{{lce.start_date | date: 'yyyy-MMM-dd'}}</span>
          </div>
          <div>
            <b>End Date: </b><span>{{lce.end_date? (lce.end_date | date: 'yyyy-MMM-dd') : '-'}}</span>
          </div>
          <div>
            <b>Possessor: </b><span>{{lce.possessor_name? lce.possessor_name : '-'}}</span>
          </div>
          <div>
            <b>Possessor (fa): </b><span>{{lce.possessor_name_fa? lce.possessor_name_fa: '-'}}</span>
          </div>

          <div>
            <b>Joiner: </b><span>{{lce.joiner_name? lce.joiner_name : '-'}}</span>
          </div>
          <div>
            <b>Joiner (fa): </b><span>{{lce.joiner_name_fa? lce.joiner_name_fa : '-'}}</span>
          </div>
          <div>
            <b [ngClass]="{'warn' :!lce.is_confirmed, 'success' : lce.is_confirmed  } ">{{lce.is_confirmed ? 'Confirmed' : 'Waiting for confirmation'}}</b>

          </div>


        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="open('view', lce.id)" color="primary">
            <mat-icon aria-label="view">visibility</mat-icon>
          </button>
          <button mat-icon-button (click)="open('form', lce.id)" color="accent">
            <mat-icon aria-label="edit">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteLCE(lce.id)" color="warn">
            <mat-icon aria-label="delete">delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div>
  <mat-paginator [length]="totalCards" [pageSize]="8" [pageSizeOptions]="[4, 8, 12, 20]"
                 (page)="changeOffset($event)"></mat-paginator>
</div>


