<div fxLayout="row" class="row">
  <button mat-fab color="accent" (click)="openForm()">
    <mat-icon aria-label="add new member">add</mat-icon>
  </button>
</div>

<div *ngFor="let rw of rows">
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start center" class="row">
    <div fxFlex="25" *ngFor="let m of aligningObj[rw]" class="member-card">
      <mat-card class="card-view" [class.selected-member]="m.mid === memberId" [ngClass]="{'selected-card mat-elevation-z24': m.mid === memberId, 'dead-entity': membershipIsDead(m)}">
        <mat-card-content>
          <div>
            <b>name (En): </b><span>{{m.display_name_en}}</span>
          </div>
          <div>
            <b>Username: </b><span>{{m.username}}</span>
          </div>
          <div>
            <b [ngClass]="m.is_active ? 'success' : 'warn'">{{m.is_active ? 'active user' : 'not activeuser'}}</b>
          </div>
          <div>
            <b>{{m.is_representative ? 'representative' : 'ordinary member'}}</b>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="openView(m.mid)" color="primary">
            <mat-icon aria-label="view">visibility</mat-icon>
          </button>
          <button mat-icon-button (click)="openForm(m.mid)" color="accent">
            <mat-icon aria-label="edit">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteMembership(m.mid)" color="warn">
            <mat-icon aria-label="delete">delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<div>
  <mat-paginator [length]="totalOrgMembers" [pageSize]="8" [pageSizeOptions]="[4, 8, 12, 20]"
                 (page)="changeOffset($event)"></mat-paginator>
</div>
