<div fxLayout="row" class="row">
  <ii-search-fields fxFlex="100" [searchInFirst]="searchInFirst" [initItems]="initSearchData" [target]="'event'" (searching)="search($event)"></ii-search-fields>
</div>
<div fxLayout="row" class="row" *ngIf="!isSpecific">
  <button mat-fab color="accent" (click)="openForm()" >
    <mat-icon aria-label="add new event">add</mat-icon>
  </button>
</div>

<div *ngFor="let rw of rows">
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start center" class="row">
    <div fxFlex="25" *ngFor="let e of aligningObj[rw]" class="outer-card">
      <mat-card (click)="select(e.eid)" class="card-view" [class.selected-card]="e.eid === eventId">
        <mat-card-header>
          <mat-card-title>{{e.title}}</mat-card-title>
          <mat-card-subtitle>{{e.title_fa}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="e.start_date">
            <label class="title-in-card">Start Date: </label>
            <label class="content-in-card">{{e.start_date | date: 'yyyy-MMM-dd'}}</label>
          </div>
          <div *ngIf="e.end_date">
            <label class="title-in-card">End Date:</label>
            <label class="content-in-card">{{e.end_date | date: 'yyyy-MMM-dd'}}</label>
          </div>
          <div>
            <label class="title-in-card">Organizer:</label>
            <label class="content-in-card">
              <span *ngIf="e.person_id">{{e.person_display_name_en || e.person_display_name_fa}}</span>
              <span *ngIf="e.business_id">{{e.business_name || e.business_name_fa}}</span>
              <span *ngIf="e.organization_id">{{e.organization_name || e.organization_name_fa}}</span>
            </label>
          </div>
          <div *ngIf="e.eid === eventId">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="start start">
              <a fxFlex="50" class="clickable-link" [routerLink]="['/admin/attendance/attendee/' + e.eid]"><i class="fa fa-bullhorn"></i>Attendee</a>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="openView(e.eid)" color="primary">
            <mat-icon aria-label="view">visibility</mat-icon>
          </button>
          <button mat-icon-button (click)="openForm(e.eid)" color="accent">
            <mat-icon aria-label="edit">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteEvent(e.eid)" color="warn">
            <mat-icon aria-label="delete">delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div>
  <mat-paginator [length]="totalEvents" [pageIndex]="offset / limit" [pageSize]="8" [pageSizeOptions]="[4, 8, 12, 20]"
                 (page)="changeOffset($event)"></mat-paginator>
</div>

<!--<div *ngIf="showInDeep">-->
  <!--<ii-event-form [eventId]="eventId" (changedEvent)="applyChanges($event)"></ii-event-form>-->
<!--</div>-->
