<div fxLayout="row" class="row">
  <ii-search-fields fxFlex="100" [target]="'event'" (searching)="search($event)"></ii-search-fields>
</div>
<div fxLayout="row" class="row">
  <button mat-fab color="accent" (click)="openForm()">
    <mat-icon aria-label="add new event">add</mat-icon>
  </button>
</div>

<div *ngFor="let rw of rows">
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start center" class="row">
    <div fxFlex="20" *ngFor="let e of aligningObj[rw]" class="outer-card">
      <mat-card (click)="openForm(e.eid)" class="card-view" [class.selected-card]="e.eid === eventId">
        <mat-card-content>
          <div *ngIf="e.title" class="card-header">{{e.title}}</div>
          <br/>
          <div *ngIf="e.title_fa">
            <label class="title-in-card">Persian Name: </label>
            <label class="content-in-card">{{e.title_fa}}</label>
          </div>
          <div *ngIf="e.start_date">
            <label class="title-in-card">Start Date: </label>
            <label class="content-in-card">{{e.start_date | date: 'yyyy-MMM-dd'}}</label>
          </div>
          <div *ngIf="e.end_date">
            <label class="title-in-card">End Date:</label>
            <label class="content-in-card">{{e.end_date | date: 'yyyy-MMM-dd'}}</label>
          </div>
          <div>
            <label class="title-in-card">Organizer:</label>
            <label class="content-in-card">
              <span *ngIf="e.person_id">{{e.person_display_name_en || e.person_display_name_fa}}</span>
              <span *ngIf="e.business_id">{{e.business_name || e.business_name_fa}}</span>
              <span *ngIf="e.organization_id">{{e.organization_name || e.organization_name_fa}}</span>
            </label>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div>
  <mat-paginator [length]="totalEvents" [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 20]"
                 (page)="changeOffset($event)"></mat-paginator>
</div>

<!--<div *ngIf="showInDeep">-->
  <!--<ii-event-form [eventId]="eventId" (changedEvent)="applyChanges($event)"></ii-event-form>-->
<!--</div>-->
