<div fxLayout="row">
  <div fxFlex="60" fxFlex.sm="100" fxFlex.xs="100" fxFlexOffset="20" fxFlexOffset.sm="0" fxFlexOffset.xs="0">
    <mat-card>
      <mat-card-content>
        <form (ngSubmit)="signup()" [formGroup]="signupForm">
          <div class="center">
            <div>
              <mat-input-container class="field-container">
                <input matInput type="email" placeholder="Enter your email" formControlName="email" role="email" tabindex="1"/>
                <mat-error *ngIf="signupForm.controls['email'].hasError('exists')">This email is exist</mat-error>
              </mat-input-container>
            </div>
            <div>
              <mat-input-container class="field-container">
                <input matInput type="text" placeholder="Display Name" formControlName="displayName" role="display-name" tabindex="2"/>
              </mat-input-container>
            </div>
          </div>
          <div>
            <button mat-raised-button type="submit" color="accent" [disabled]="!signupForm.valid || shouldDisabledButton" tabindex="3">
              <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Get activation code
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
