<button mat-raised-button color="primary" (click)="openForm()">
  <mat-icon>
    <i class="material-icons">add</i>
  </mat-icon>
</button>
<div>
  <ii-search-fields [target]="'person'" (searching)="search($event)"></ii-search-fields>
</div>

<mat-grid-list style="margin-top: 30px" cols="5">
  <mat-grid-tile *ngFor="let p of people">
    <mat-card (click)="showDetails(p.pid)">
      <mat-card-content>
        <div>
          Display Name: {{p.display_name_en}}
        </div>
        <div>
          Email: {{p.username}}
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<div *ngIf="showInDeep">
  <mat-tab-group>
    <mat-tab label="Information">
      <ii-person-form [personId]="personId"></ii-person-form>
    </mat-tab>
    <mat-tab label="Expertise"></mat-tab>
    <mat-tab label="Partnership"></mat-tab>
  </mat-tab-group>
</div>
