<div fxLayout="row" class="row">
  <ii-search-fields fxFlex="100" [target]="'person'" (searching)="search($event)"></ii-search-fields>
</div>
<div fxLayout="row" class="row">
  <button mat-fab color="primary" (click)="openForm()">
    <mat-icon aria-label="add new person">add</mat-icon>
  </button>
</div>

<div *ngFor="let rw of rows">
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start center" class="row">
    <div fxFlex="20" *ngFor="let p of aligningObj[rw]" class="person-card">
      <mat-card (click)="openForm(p.pid)" class="card-view">
        <mat-card-content>
          <div *ngIf="p.diplay_name_en" class="card-header">{{p.display_name_en}}</div>
          <div *ngIf="p.diplay_name_fa" class="card-header">{{p.display_name_en}}</div>
          <div *ngIf="p.username" class="card-header">{{p.username}}</div>
          <br/>
          <div>
            Email: {{p.username}}
          </div>
          <div>
            Is User: {{p.is_user}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div>
  <mat-paginator [length]="totalPeople" [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 20]"
                 (page)="changeOffset($event)"></mat-paginator>
</div>

<div fxLayout="row" *ngIf="showInDeep" class="row">
  <mat-card fxFlex="60" fxFlex.sm="100" fxFlex.xs="100" fxFlexOffset="20" fxFlexOffset.sm="0" fxFlexOffset.xs="0">
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Information">
          <ii-person-form [personId]="personId" (changedPerson)="applyChanges($event)"></ii-person-form>
        </mat-tab>
        <mat-tab label="Expertise">
          <ii-person-expertise [personId]="personId"></ii-person-expertise>
        </mat-tab>
        <!--<mat-tab label="Partnership">-->
          <!--<ii-person-partnership [personId]="personId"></ii-person-partnership>-->
        <!--</mat-tab>-->
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
