<mat-card class="center">
  <mat-card-header>
    Leaving Confirmation
  </mat-card-header>
  <mat-card-content class="page">
    Are you sure to leave this page without saving all changes
    <div fxLayout="row" rxLayout.xs="column" fxLayoutAlign="center center">
      <div fxFlex="50" role="yes-btn">
        <button mat-icon-button (click)="leave(true)">
          <mat-icon aria-label="yes">done</mat-icon>
        </button>
      </div>
      <div fxFlex="50" role="no-btn">
        <button mat-icon-button (click)="leave(false)">
          <mat-icon aria-label="no">clear</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
