<div fxLayout="row">
  <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" fxFlexOffset="25" fxFlexOffset.sm="0" fxFlexOffset.xs="0">
    <mat-card>
      <mat-card-content class="center">
        <div>
          <form (ngSubmit)="login()" [formGroup]="loginForm">
            <div>
              <mat-input-container>
                <input matInput type="email" placeholder="Username" formControlName="username" role="username" tabindex="1"/>
              </mat-input-container>
            </div>
            <div>
              <mat-input-container>
                <input matInput type="password" placeholder="Password" formControlName="password" role="password" tabindex="2"/>
              </mat-input-container>
            </div>
            <div>
              <button mat-raised-button type="submit" color="accent" [disabled]="!loginForm.valid">Sign In</button>
              <button mat-raised-button type="button" color="primary">Sign Up</button>
            </div>
            <div style="margin: 30px;">
              <a class="clickable-link" [routerLink]="['/login/forgot']">Forgot your password!!!</a>
            </div>
          </form>
        </div>
        <div>
          <a class="oauth-btn" mat-icon-button href="api/login/google">
            <img src="../../../assets/images/google_plus.png" width="50px" height="50px">
          </a>
          <button class="oauth-btn" mat-icon-button href="api/login/facebook">
            <img src="../../../assets/images/facebook.png" width="50px" height="50px">
          </button>
          <button class="oauth-btn" mat-icon-button href="api/login/linkedin">
            <img src="../../../assets/images/linkedin.png" width="50px" height="50px">
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
