<div fxLayout="row">
  <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" fxFlexOffset="25" fxFlexOffset.sm="0" fxFlexOffset.xs="0">
    <mat-card>
      <mat-card-content class="center">
        <form (ngSubmit)="setPassword()" [formGroup]="changePassForm">
          <mat-input-container style="width: 80%;">
            <input matInput type="password" placeholder="Enter password" formControlName="password" role="password"
                   tabindex="1"/>
            <mat-hint *ngIf="!changePassForm.controls['password'].hasError('minLength')">The password must contains 8 characters minimum</mat-hint>
            <mat-error *ngIf="changePassForm.controls['password'].hasError('minLength') && !changePassForm.controls['password'].hasError('pattern')">Password must have at least 8 characters</mat-error>
            <mat-error *ngIf="!changePassForm.controls['password'].hasError('minLength') && changePassForm.controls['password'].hasError('pattern')">Password must have number, alphabet and special character</mat-error>
          </mat-input-container>
          <br/>
          <br/>
          <mat-input-container style="width: 80%;">
            <input matInput type="password" placeholder="Confirm password" formControlName="rePassword" role="re-enter-password"
                   tabindex="2"/>
            <mat-error *ngIf="changePassForm.controls['rePassword'].hasError('matchPassword')">Password and Confirm-Password are not matched</mat-error>
          </mat-input-container>
          <div>
            <button mat-raised-button type="submit" color="primary" [disabled]="!changePassForm.valid" tabindex="3">Set Password
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
