<div style="padding: 10px; margin: 5px">
  <div *ngIf="!eventId">Add new Event</div>
  <div *ngIf="eventId">Edit Event</div>
  <br/>
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start"
       fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center" *ngIf="!eventId">
    <div fxFlex="20">
      The organizer:
      <mat-radio-group [(ngModel)]="organizer" tabindex="1">
        <mat-radio-button [value]="organizerType.person">Person</mat-radio-button>
        <mat-radio-button [value]="organizerType.business">Business</mat-radio-button>
        <mat-radio-button [value]="organizerType.organization">Organization</mat-radio-button>
      </mat-radio-group>
    </div>
    <div fxFlex="80" tabindex="2">
      <ii-suggestion *ngIf="organizerIsPerson()" [idColumn]="'pid'" [name]="'person'"
                     [fieldNameEn]="'display_name_en'" [fieldNameFa]="'display_name_fa'"
                     [currentIds]="organizerId" (add)="setOrganizer($event)"></ii-suggestion>
      <ii-suggestion *ngIf="organizerIsBiz()" [idColumn]="'bid'" [name]="'business'"
                     [fieldNameEn]="'name'" [fieldNameFa]="'name_fa'"
                     [currentIds]="organizerId" (add)="setOrganizer($event)"></ii-suggestion>
      <ii-suggestion *ngIf="organizerIsOrg()" [idColumn]="'oid'" [name]="'organization'"
                     [fieldNameEn]="'name'" [fieldNameFa]="'name_fa'"
                     [currentIds]="organizerId" (add)="setOrganizer($event)"></ii-suggestion>
      <label *ngIf="organizerName">The organizer is {{organizerName}}</label>
    </div>
  </div>
  <form (ngSubmit)="modifyEvent()" [formGroup]="eventForm">
    <div *ngIf="eventId" fxLayout="row" fxLayoutAlign="start start">
      <a class="clickable-link" (click)="directToOrganizer()">
        <span>Organizer is </span>
        <span>"{{organizerName}}"</span>
      </a>
    </div>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center">
      <div fxFlex="50">
        <mat-input-container class="field-90">
          <input matInput type="text" placeholder="Title" formControlName="title" role="title" tabindex="3"/>
        </mat-input-container>
      </div>
      <div fxFlex="50" dir="rtl">
        <mat-input-container class="field-90 farsi">
          <input matInput type="text" placeholder="عنوان" formControlName="title_fa" role="title-fa" tabindex="10"/>
        </mat-input-container>
      </div>
    </div>
    <div>
      <mat-input-container class="field">
        <textarea matInput placeholder="Description" formControlName="description" role="description" tabindex="4"></textarea>
      </mat-input-container>
    </div>
    <div dir="rtl">
      <mat-input-container class="field farsi">
        <textarea matInput placeholder="توضیحات" formControlName="description_fa" role="description-fa" tabindex="11"></textarea>
      </mat-input-container>
    </div>
    <div>
      <mat-input-container class="field">
        <textarea matInput placeholder="Address" formControlName="address" role="address" tabindex="5"></textarea>
      </mat-input-container>
    </div>
    <div dir="rtl">
      <mat-input-container class="field farsi">
        <textarea matInput placeholder="آدرس" formControlName="address_fa" role="address-fa" tabindex="12"></textarea>
      </mat-input-container>
    </div>
    <div>
      <agm-map class="ev-loc" [latitude]="latitude" [longitude]="longitude">
        <agm-marker
          [latitude]="latitude"
          [longitude]="longitude"
          [markerClickable]="true"
          [markerDraggable]="true"
          (dragEnd)="setMarker($event)"
        ></agm-marker>
      </agm-map>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="center center">
      <div fxFlex="50">
        <mat-form-field>
          <input matInput [matDatepicker]="start_date" placeholder="Start Date" formControlName="start_date"
                 role="start-date" tabindex="6"/>
          <mat-datepicker-toggle matSuffix [for]="start_date" tabindex="7"></mat-datepicker-toggle>
          <mat-datepicker #start_date></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="50">
        <mat-form-field>
          <input matInput [matDatepicker]="end_date" placeholder="End Date" formControlName="end_date"
                 role="end-date" tabindex="8"/>
          <mat-datepicker-toggle matSuffix [for]="end_date" tabindex="9"></mat-datepicker-toggle>
          <mat-datepicker #end_date></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="upsertBtnShouldDisabled || !eventForm.valid || (eventId && !anyChanges)" tabindex="20">
        <span *ngIf="!eventId">Add</span>
        <span *ngIf="eventId">Update</span>
      </button>
      <button mat-raised-button color="primary" type="button" *ngIf="eventId" (click)="deleteEvent()"
              [disabled]="deleteBtnShouldDisabled" tabindex="21">Delete</button>
    </div>
  </form>
</div>
