<div fxLayout="row" class="row">
  <ii-search-fields fxFlex="100" [target]="'expertise'" (searching)="search($event)"></ii-search-fields>
</div>
<div fxLayout="row" class="row">
  <button mat-fab color="accent" (click)="openForm()">
    <mat-icon aria-label="Add new Expertise">add</mat-icon>
  </button>
</div>
<div *ngFor="let rw of rows">
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center" class="row">
    <div fxFlex="25" *ngFor="let e of aligningObj[rw]" class="outer-card">
      <mat-card class="card-view" (click)="select(e.expertise_id)"
                [ngClass]="{'mat-elevation-z24': e.expertise_id === expertiseId}">
        <mat-card-header>
          <mat-card-title>
            <label class="name">{{e.name_en}}</label>
          </mat-card-title>
          <mat-card-subtitle>
            <label class="name">{{e.name_fa}}</label>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div></div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="openView(e.expertise_id)" color="primary">
            <mat-icon aria-label="view">visibility</mat-icon>
          </button>
          <button mat-icon-button (click)="openForm(e.expertise_id)" color="accent">
            <mat-icon aria-label="edit">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteExpertise(e.expertise_id)" color="warn">
            <mat-icon aria-label="delete">delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div>
  <mat-paginator [length]="totalCards" [pageSize]="8" [pageSizeOptions]="[4, 8, 16, 32]"
                 (page)="changeOffset($event)"></mat-paginator>
</div>
