<form (ngSubmit)="onSubmit()" [formGroup]="form">

  <mat-card>
    <mat-card-header>
      <mat-card-title><h1>{{typeId ? 'Edit type' : 'Add new type'}}</h1></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <mat-form-field>
        <mat-select formControlName="type_name" role="type_name" (change)="onChange($event.value)" [disabled]="typeId">
          <mat-option *ngFor="let cat of cats" [value]="cat">{{cat}}</mat-option>
        </mat-select>
        <mat-placeholder>Select Type</mat-placeholder>
      </mat-form-field>

      <div fxLayout="row">
        <div fxFlex="50">

          <mat-form-field>
            <input matInput formControlName="name" role="name" placeholder="name" required>
          </mat-form-field>
        </div>
        <div fxFlex="50" dir="rtl">
          <mat-form-field>
            <input matInput formControlName="name_fa" role="name_fa" placeholder="نام فارسی" required>
          </mat-form-field>
        </div>
      </div>

      <div style="margin: 10px 0">
        <b>Suggested by:</b>
        <span>
        <input type="text" formControlName="suggested_by" role="suggested_by" readonly style="border:0">
      </span>
      </div>
      <div fxLayout="row">

        <mat-checkbox fxFlex="50"
                      formControlName="is_killer"
                      role="is_killer"
                      [disabled]="!has_killer">
          Is Killer?
        </mat-checkbox>

        <mat-checkbox fxFlex="50"
                      name="active"
                      formControlName="active"
                      role="active"
                      >
          Is Active?
        </mat-checkbox>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" role="submit" color="primary" [disabled]="!form.valid || !canSubmit">Save</button>
      <button mat-raised-button type="button" (click)="onCancel()" color="warn">Cancel</button>
    </mat-card-actions>
  </mat-card>
</form>
