<mat-dialog-content>

    <mat-card >
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Information">
            <ii-person-form [formId]="personId" (changedPerson)="applyChanges($event)"></ii-person-form>
          </mat-tab>
          <mat-tab label="Expertise">
            <ii-person-expertise [personId]="personId"></ii-person-expertise>
          </mat-tab>
          <!--<mat-tab label="Partnership">-->
          <!--<ii-person-partnership [personId]="personId"></ii-person-partnership>-->
          <!--</mat-tab>-->
        </mat-tab-group>
      </mat-card-content>
    </mat-card>

</mat-dialog-content>
