<div fxLayout="row">
  <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" fxFlexOffset="25" fxFlexOffset.sm="0" fxFlexOffset.xs="0">
    <mat-card>
      <mat-card-content class="center">
        <form (ngSubmit)="sendActivationMail()" [formGroup]="forgotForm">
          <mat-input-container style="width: 80%;">
            <input matInput type="email" placeholder="Enter your email address" formControlName="email" role="email"
                   tabindex="1"/>
          </mat-input-container>
          <div>
            <button mat-raised-button type="submit" color="accent" [disabled]="!forgotForm.valid">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;Send password reset link
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
