<div fxLayout="row">
  <mat-card fxFlex="60" fxFlex.sm="100" fxFlex.xs="100" fxFlexOffset="20" fxFlexOffset.sm="0" fxFlexOffset.xs="0">
    <mat-card-title>
      <label *ngIf="consultancyId">Update </label>
      <label *ngIf="!consultancyId">Add </label>
      Consultancy
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start"
           fxLayoutAlign.sm="center center" fxLayoutAlign="center center" *ngIf="!isConsulting">
        <div fxFlex="40">
          Choose Consulting Type
          <mat-radio-group [(ngModel)]="consulting" (ngModelChange)="changeConsulting()" tabindex="1">
            <div fxLayout="column" fxLayout.sm="row" fxLayoutAlign="start start" fxLayoutAlign.sm="center center">
              <div fxFlex="50" style="margin-bottom: 8px;">
                <mat-radio-button [value]="consultingType.person">Person</mat-radio-button>
              </div>
              <div fxFlex="50" style="margin-bottom: 8px;">
                <mat-radio-button [value]="consultingType.organization">Organization</mat-radio-button>
              </div>
            </div>
          </mat-radio-group>
        </div>
        <div fxFlex="60">
          <ii-suggestion [name]="consulting === consultingType.person ? 'person' : 'organization'"
                         [placeholder]="'Consulting Name'"
                         [currentIds]="consultingObj.id ? [consulting.id] : null"
                         [fieldNameFa]="consulting === consultingType.person ? 'display_name_fa' : 'name_fa'"
                         [fieldNameEn]="consulting === consultingType.person ? 'display_name_en' : 'name'"
                         [idColumn]="consulting === consultingType.person ? 'pid' : 'oid'"
                         [descriptionFieldName]="consulting === consultingType.person ? 'username' : null"
                         [descriptionFieldNameFa]="consulting === consultingType.person ? 'username' : null"
                         (add)="setConsulting($event)"></ii-suggestion>
          <div *ngIf="consultingObj.id">
            <a class="clickable-link" (click)="directToCnsDone()">
              <span>Consulting is </span>
              <span>"{{consultingObj.name}}"</span>
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="isConsulting">
        <ii-suggestion [name]="'business'"
                       [placeholder]="'Consult on'"
                       [currentIds]="consultancyObj.id ? [consultancyObj.id] : null"
                       [fieldNameFa]="'name_fa'"
                       [fieldNameEn]="'name'"
                       [idColumn]="'bid'"
                       (add)="setTargetBusiness($event)"></ii-suggestion>
        <div *ngIf="consultancyObj.id">
          <a class="clickable-link" (click)="directToCnsDone()">
            <span>Consult on</span>
            <span>"{{consultancyObj.name}}"</span>
            <span> business</span>
          </a>
        </div>
      </div>
      <form (ngSubmit)="modifyConsultancy()" [formGroup]="consultancyForm">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start"
             fxLayoutAlign.sm="center center" fxLayoutAlign="center center">
          <div fxFlex="50" class="field-container">
            <mat-input-container class="field">
              <input matInput type="text" placeholder="Subject" formControlName="subject" role="subject" tabindex="3"/>
            </mat-input-container>
            <mat-error class="error-msg" *ngIf="consultancyForm.controls['subject'].hasError('required')">Subject must be declared</mat-error>
          </div>
          <div fxFlex="50" dir="rtl" class="field-container farsi">
            <mat-input-container class="field">
              <input matInput type="text" placeholder="عنوان" formControlName="subject_fa" role="subject-in-persian" tabindex="4"/>
            </mat-input-container>
          </div>
        </div>
        <div faLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start">
          <div fxFlex="50">
            <mat-checkbox formControlName="is_mentor" tabindex="5">
              <span *ngIf="consultancyForm.controls['is_mentor'].value === true">Is Mentor</span>
              <span *ngIf="consultancyForm.controls['is_mentor'].value === false">Is not Mentor</span>
            </mat-checkbox>
          </div>
          <div fxFlex="50">
            <mat-checkbox formControlName="is_confirmed" tabindex="5">
              <span *ngIf="consultancyForm.controls['is_confirmed'].value === true">Confirmed</span>
              <span *ngIf="consultancyForm.controls['is_confirmed'].value === false">Not Confirmed</span>
            </mat-checkbox>
          </div>
        </div>
        <div role="submit-button">
          <button mat-icon-button color="accent" type="submit"
                  [disabled]="upsertBtnShouldDisabled || (!consultancyForm.valid || (consultancyId && !anyChanges)) || (!consultingObj.id && !consultancyObj.id)" tabindex="20">
            <mat-icon aria-label="accept">done</mat-icon>
          </button>
          <button mat-icon-button color="warn" type="button" *ngIf="consultancyId" (click)="deleteConsultancy()"
                  [disabled]="deleteBtnShouldDisabled" tabindex="21">
            <mat-icon aria-label="delete">delete</mat-icon>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
