<div style="padding: 10px; margin: 5px">
  <div *ngIf="!productId">Add new product</div>
  <div *ngIf="productId">Edit product</div>

  <form (ngSubmit)="modifyProduct()" [formGroup]="productForm">
    <div flexLayout="row" flexLayout.xs="column" flexLayoutAlign="start start" flexLayoutAlign.xs="center center">
      <div fxFlex="50">
        <mat-input-container class="field-90">
          <input matInput type="text" placeholder="ProductName" formControlName="name" role="name" (ngModelChange)="fieldChanged()"/>
        </mat-input-container>
      </div>
      <div fxFlex="50" dir="rtl">
        <mat-input-container class="field-90">
          <input matInput type="text" placeholder="نام" formControlName="name_fa" role="name_fa" (ngModelChange)="fieldChanged()"/>
        </mat-input-container>
      </div>
    </div>
    <div>
      <mat-input-container class="field">
        <textarea matInput placeholder="Description" formControlName="description" role="description" (ngModelChange)="fieldChanged()"></textarea>
      </mat-input-container>
    </div>
    <div dir="rtl">
      <mat-input-container class="field">
        <textarea matInput placeholder="توضیحات" formControlName="description_fa" role="description_fa" (ngModelChange)="fieldChanged()"></textarea>
      </mat-input-container>
    </div>
    <div>
      <button mat-raised-button color="primary" type="submit" [disabled]="upsertBtnShouldDisabled || (!productForm.valid || (productId && !anyChanges))">
        <span *ngIf="!productId">Add</span>
        <span *ngIf="productId">Update</span>
      </button>
      <button mat-raised-button color="primary" type="button" *ngIf="productId" [disabled]="deleteBtnShouldDisabled" (click)="deleteProduct()">Delete</button>
    </div>
  </form>
</div>
