@font-face {
  font-family: 'adarab';
  src: url('Adobe-Arabic-Regular.otf');
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: 'adarab';
  src: url('Adobe-Arabic-Bold.otf');
  unicode-range: U+0600-06FF;
  font-weight: bold;
}

@font-face {
  font-family: 'adarab';
  src: url('Adobe-Arabic-Italic.otf');
  unicode-range: U+0600-06FF;
  font-style: italic;
}

@font-face {
  font-family: 'adarab';
  src: url('Adobe-Arabic-Bolditalic.otf');
  unicode-range: U+0600-06FF;
  font-weight: bold;
  font-style: italic;
}
