<div fxLayout="row" class="row">
  <ii-search-fields fxFlex="100" [target]="'business'" (searching)="search($event)"></ii-search-fields>
</div>
<div fxLayout="row" class="row">
  <button mat-fab color="primary" (click)="openForm()">
    <mat-icon aria-label="add new business">add</mat-icon>
  </button>
</div>

<div *ngFor="let rw of rows">
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start center" class="row">
    <div fxFlex="20" *ngFor="let b of aligningObj[rw]" class="business-card">
      <mat-card class="card-view" (click)="openForm(b.bid)"  [class.selected-biz]="b.bid === bizId" mat-ripple>
        <mat-card-content>
          <div>
            <b>name: </b><span>{{b.name}}</span>
          </div>
          <div>
            <b>name_fa: </b><span>{{b.name_fa}}</span>
          </div>

          <div>
            <b><a [routerLink]="['./members/'+ b.bid]">members</a></b>
          </div>
          <div>
            <b><a [routerLink]="['/admin/lce/business/'+ b.bid]" [queryParams]="{ name: b.name }">LCE</a></b>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div>
  <mat-paginator [length]="totalBiz" [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 20]"
                 (page)="changeOffset($event)"></mat-paginator>
</div>

<div fxLayout="row" *ngIf="showInDeep" class="row">
  <mat-card fxFlex="60" fxFlex.sm="100" fxFlex.xs="100" fxFlexOffset="20" fxFlexOffset.sm="0" fxFlexOffset.xs="0">
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Info">
          <ii-business-info></ii-business-info>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
