<div>
  <br/>
  <ii-suggestion [name]="'expertise'" [currentIds]="currentExpertiseIds" [idColumn]="'expertise_id'" [fieldNameEn]="'name_en'" [fieldNameFa]="'name_fa'" (add)="addExpertise($event)"></ii-suggestion>
</div>
<br/>
<div class="rs-table">
  <table class="table">
    <thead>
      <td>No.</td>
      <td>Name</td>
      <td>Persian Name</td>
      <td>Remove</td>
    </thead>
    <tbody>
      <tr *ngFor="let item of userExpertiseList; let i = index">
        <td>{{i+1}}</td>
        <td>{{item.name_en}}</td>
        <td class="farsi">{{item.name_fa}}</td>
        <td>
          <button mat-icon-button (click)="removePersonExpertise(item.expertise_id)">
            <mat-icon aria-label="clear person expertise">clear</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
