<button mat-raised-button color="primary" (click)="openForm(null)">
  <mat-icon aria-label="add new type">add</mat-icon>
</button>


<div fxLayout="row">
  <div fxFlex="10">

    <mat-card (click) ="openForm(type1.id)" >
      <mat-card-header>
        <mat-card-title><p>{{type1.type}}</p></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{type1.name}}</p>
        <p>{{type1.name_fa}}</p>
        <p [type_active]="type1.active ? 'green' : 'red'"> {{type1.active ? 'active' : 'deactive'}}</p>
      </mat-card-content>

    </mat-card>
  </div>
</div>
