<div *ngIf="showBurgerMenu" class="fixed-navbar">
  <mat-drawer-container>
    <mat-drawer #drawer mode="side" [style.height]="height + 'px'" (openedChange)="menuIsOpen($event)">
      <div class="menu-container" [style.height]="height + 'px'">
        <div *ngFor="let link of navLinks" class="menu-item" [ngClass]="{'selected-link': selectedLink === link.label}">
          <a class="clickable-link" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
             (click)="selectOnLink(link.label)">{{link.label}}</a>
        </div>
      </div>
    </mat-drawer>
    <div>
      <button class="menu-button" type="button" mat-icon-button (click)="drawer.toggle()" color="accent">
        <mat-icon *ngIf="!drawer.opened" aria-label="open menu">menu</mat-icon>
        <mat-icon *ngIf="drawer.opened" aria-label="close menu">clear</mat-icon>
      </button>
    </div>
  </mat-drawer-container>
</div>
<div *ngIf="!showBurgerMenu" class="fixed-navbar">
  <nav mat-tab-nav-bar>
    <a mat-tab-link
       class="clickable-link"
       *ngFor="let link of navLinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>
</div>
<div class="admin-content">
  <router-outlet></router-outlet>
</div>
