<div fxLayout="row">
  <mat-card fxFlex="60" fxFlex.sm="100" fxFlex.xs="100" fxFlexOffset="20" fxFlexOffset.sm="0" fxFlexOffset.xs="0">
    <mat-card-header>
      <mat-card-title>
        <div *ngIf="bizIsEnd()" style="color: darkred; font-weight: bold;">This Business Is Ended</div>
        <div>{{data.name}}</div>
      </mat-card-title>
      <mat-card-subtitle>
        {{data.name_fa}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start"
           fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center">
        <div fxFlex="50">
          <div class="view-title">Address</div>
          <div class="view-content" *ngIf="data.address">{{data.address}}</div>
          <div class="view-content" *ngIf="!data.address">-</div>
        </div>
        <div fxFlex="50" dir="rtl" class="farsi">
          <div class="view-title">آدرس</div>
          <div class="view-content" *ngIf="data.address_fa">{{data.address_fa}}</div>
          <div class="view-content" *ngIf="!data.address_fa">-</div>
        </div>
      </div>
      <div style="margin: 20px;">
        <agm-map class="ev-loc" [latitude]="data.latitude" [longitude]="data.longitude">
          <agm-marker [latitude]="data.latitude"
                      [longitude]="data.longitude"
                      [markerClickable]="false"
                      [markerDraggable]="false">
          </agm-marker>
        </agm-map>
      </div>
      <div>
        <div class="view-title"><i class="fa fa-phone" aria-hidden="true"></i> TEL</div>
        <div class="view-content">
          <span *ngIf="data.tel">{{data.tel}}</span>
          <span *ngIf="!data.tel">-</span>
        </div>
      </div>
      <div>
        <div class="view-title"><i class="fa fa-internet-explorer" aria-hidden="true"></i> URL</div>
        <div class="view-content">
          <a href="{{data.url}}" target="_blank">{{data.url}}</a>
        </div>
      </div>
      <div>
        <div class="view-title">
          <a class="clickable-link" [routerLink]="['/admin/business/members/'+ bid]"><i class="fa fa-user-circle-o"></i>
            Members</a>
        </div>
      </div>
      <div>
        <div class="view-title">
          <a class="clickable-link" [routerLink]="['/admin/business/product/'+ bid]"><i class="fa fa-product-hunt"></i>
            Products</a>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="endBusiness()" color="warn" *ngIf="!bizIsEnd()">
        <mat-icon aria-label="ended">not_interested</mat-icon>
      </button>
      <button mat-icon-button (click)="editBusiness()" color="accent">
        <mat-icon aria-label="edit">edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteBusiness()" color="warn">
        <mat-icon aria-label="delete">delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
