<div class="flex-container" fxLayout="row" fxLayoutAlign="center center">
  <div class="flex-item" fxFlex="33">
    &nbsp;
  </div>
  <div class="flex-item" fxFlex="33">
    <mat-card>
      <mat-card-header>
        <label>Login</label>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="login()" [formGroup]="form">
          <mat-input-container>
            <input matInput type="text" placeholder="Username" formControlName="username" role="username" required>
          </mat-input-container>
          <mat-input-container>
            <input matInput type="password" placeholder="Password" formControlName="password" role="password" required>
          </mat-input-container>
          <button mat-fab color="primary" type="submit" role="submit" [disabled]="!form.valid">
            Login
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="flex-item" fxFlex="33">
    &nbsp;
  </div>
</div>
