<div fxLayout="row">
  <mat-card fxFlex="60" fxFlex.sm="100" fxFlex.xs="100" fxFlexOffset="20" fxFlexOffset.sm="0" fxFlexOffset.xs="0" *ngIf="investment">
    <mat-card-header>
      <mat-card-title>Investment details on {{investment.biz_name || investment.biz_name_fa}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start"
           fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center">
        <div fxFlex="50">
          <div class="view-title">Investor</div>
          <div class="view-content" *ngIf="investment.oid">
            (Organization)
            <span *ngIf="investment.org_name">{{investment.org_name}}</span>
            <span *ngIf="!investment.org_name">-</span>
          </div>
          <div class="view-content" *ngIf="investment.pid">
            (Person)
            <span *ngIf="investment.person_display_name">{{investment.person_display_name}}</span>
            <span *ngIf="!investment.person_display_name">-</span>
          </div>
        </div>
        <div dir="rtl" fxFlex="50" class="farsi">
          <div class="view-title">سرمایه گذار</div>
          <div class="view-content" *ngIf="investment.oid">
            (سازمان)
            <span *ngIf="investment.org_name_fa">{{investment.org_name_fa}}</span>
            <span *ngIf="!investment.org_name_fa">-</span>
          </div>
          <div class="view-content" *ngIf="investment.pid">
            (شخص)
            <span *ngIf="investment.person_display_name_fa">{{investment.person_display_name_fa}}</span>
            <span *ngIf="!investment.person_display_name_fa">-</span>
          </div>
        </div>
      </div>
      <div>
        <div>
          <div class="view-title">Amount</div>
          <div class="view-content" *ngIf="investment.amount">{{investment.amount}}</div>
          <div class="view-content" *ngIf="!investment.amount">-</div>
        </div>
        <div>
          <div class="view-title">Currency</div>
          <div class="view-content" *ngIf="investment.currency">{{investment.currency}}</div>
          <div class="view-content" *ngIf="!investment.currency">-</div>
        </div>
        <div>
          <div class="view-title">Investment Cycle</div>
          <div class="view-content" *ngIf="investment.investment_cycle">{{investment.investment_cycle}}</div>
          <div class="view-content" *ngIf="!investment.investment_cycle">-</div>
        </div>
        <div>
          <div class="view-title" *ngIf="investment.is_lead">Investor is leader</div>
          <div class="view-title" *ngIf="!investment.is_lead">Investor is not leader</div>
        </div>
      </div>
      <!--<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start"-->
           <!--fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center">-->
        <!--<div fxFlex="50">-->
          <!--<div class="view-title">Amount</div>-->
          <!--<div class="view-content" *ngIf="investment.amount">{{investment.amount}}</div>-->
          <!--<div class="view-content" *ngIf="!investment.amount">-</div>-->
        <!--</div>-->
        <!--<div fxFlex="50">-->
          <!--<div class="view-title">Currency</div>-->
          <!--<div class="view-content" *ngIf="investment.currency">{{investment.currency}}</div>-->
          <!--<div class="view-content" *ngIf="!investment.currency">-</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start"-->
           <!--fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center">-->
        <!--<div fxFlex="50">-->
          <!--<div class="view-title">Investment Cycle</div>-->
          <!--<div class="view-content" *ngIf="investment.investment_cycle">{{investment.investment_cycle}}</div>-->
          <!--<div class="view-content" *ngIf="!investment.investment_cycle">-</div>-->
        <!--</div>-->
        <!--<div fxFlex="50">-->
          <!--<div class="view-title" *ngIf="investment.is_lead">Investor is lead</div>-->
          <!--<div class="view-title" *ngIf="!investment.is_lead">Investor is not lead</div>-->
        <!--</div>-->
      <!--</div>-->
      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start"
           fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center">
        <div fxFlex="50">
          <div class="view-title">Claimed By</div>
          <div class="view-content" *ngIf="investment.claimed_by_display_name">{{investment.claimed_by_display_name}}</div>
          <div class="view-content" *ngIf="!investment.claimed_by_display_name">-</div>
        </div>
        <div dir="rtl" fxFlex="50" class="farsi">
          <div class="view-title">بیان شده از سوی</div>
          <div class="view-content" *ngIf="investment.claimed_by_display_name_fa">{{investment.claimed_by_display_name_fa}}</div>
          <div class="view-content" *ngIf="!investment.claimed_by_display_name_fa">-</div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start"
           fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center" *ngIf="investment.is_confirmed">
        <div fxFlex="50">
          <div class="view-title">Confirmed By</div>
          <div class="view-content" *ngIf="investment.confirmed_by_display_name">{{investment.confirmed_by_display_name}}</div>
          <div class="view-content" *ngIf="!investment.confirmed_by_display_name">-</div>
        </div>
        <div dir="rtl" fxFlex="50" class="farsi">
          <div class="view-title">قبول شده از سوی</div>
          <div class="view-content" *ngIf="investment.confirmed_by_display_name_fa">{{investment.confirmed_by_display_name_fa}}</div>
          <div class="view-content" *ngIf="!investment.confirmed_by_display_name_fa">-</div>
        </div>
      </div>
      <br/>
      <div *ngIf="!investment.is_confirmed" class="view-title not-confirmed">The claimed investment is not confirmed yet</div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="editInvestment()" color="accent">
        <mat-icon aria-label="edit">edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteInvestment()" color="warn">
        <mat-icon aria-label="delete">delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
