<div fxLayout="row" class="row">
  <mat-card fxFlex="60" fxFlex.sm="100" fxFlex.xs="100" fxFlexOffset="20" fxFlexOffset.sm="0" fxFlexOffset.xs="0">
    <mat-card-header>
      <mat-card-title>
        <div *ngIf="!formId">Add new organization</div>
        <div *ngIf="formId">Edit organization</div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="modifyOrg()" [formGroup]="form">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="center center">
          <div fxFlex="50" class="field-container">
            <mat-input-container class="field">
              <input matInput type="text" placeholder="Name" formControlName="name" role="name" tabindex="1"/>
              <mat-error *ngIf="form.controls['name'].hasError('required')">Organizations's name cannot be empty
              </mat-error>
            </mat-input-container>
          </div>
          <div fxFlex="50" class="farsi field-container" dir="rtl">
            <mat-input-container class="field">
              <input matInput type="text" placeholder="نام" formControlName="name_fa" role="farsi-name" tabindex="8"/>
            </mat-input-container>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="center center">
          <div fxFlex="50" class="field-container">
            <ii-suggestion
              [idColumn]="'id'"
              [fieldNameEn]="'name'"
              [fieldNameFa]="'name_fa'"
              [currentIds]="orgType.id ? [orgType.id] : null"
              [placeholder]="'Type'"
              [name]="'organization_type'"
              (add)="setType($event)" tabindex="2">
            </ii-suggestion>
            <div *ngIf="orgType.id">
              <a class="clickable-link" (click)="directToType()">
                <span>Type is </span>
                <span>"{{orgType.name}}"</span>
              </a>
            </div>
          </div>
          <div fxFlex="50" class="field-container">
            <ii-suggestion
              [idColumn]="'pid'"
              [fieldNameEn]="'display_name_en'"
              [fieldNameFa]="'display_name_fa'"
              [currentIds]="ceo.id ? [ceo.id] : null"
              [placeholder]="'CEO Name'"
              [name]="'person'"
              [descriptionFieldNameFa]="'username'"
              [descriptionFieldName]="'username'"
              (add)="setCEO($event)" tabindex="3">
            </ii-suggestion>
            <div *ngIf="ceo.id">
              <a class="clickable-link" (click)="directToCEO()">
                <span>CEO is </span>
                <span>"{{ceo.name}}"</span>
              </a>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="center center">
          <div fxFlex="50" class="field-container">
            <mat-form-field class="field">
              <input matInput [matDatepicker]="start_date" placeholder="Start Date" formControlName="start_date"
                     role="start-date" tabindex="4" class="field"/>
              <mat-error *ngIf="form.controls['start_date'].hasError('notNull') && !form.controls['start_date'].hasError('compare')">Please set the start date</mat-error>
              <mat-error *ngIf="!form.controls['start_date'].hasError('notNull') && form.controls['start_date'].hasError('compare')">Start date must be before end date</mat-error>
              <mat-datepicker-toggle matSuffix [for]="start_date" tabindex="5"></mat-datepicker-toggle>
              <mat-datepicker #start_date></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex="50" class="field-container">
            <mat-form-field class="field">
              <input matInput [matDatepicker]="end_date" placeholder="End Date" formControlName="end_date"
                     role="end-date" tabindex="6" class="field"/>
              <mat-datepicker-toggle matSuffix [for]="end_date" tabindex="7"></mat-datepicker-toggle>
              <mat-datepicker #end_date></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div role="submit-button">
          <button mat-icon-button color="warn" type="button" *ngIf="formId && !orgIsEnd()" (click)="endOrg()" tabindex="21">
            <mat-icon aria-label="ended">not_interested</mat-icon>
          </button>
          <button mat-icon-button color="accent" type="submit"
            [disabled]="upsertBtnShouldDisabled || (!form.valid || (formId && !anyChanges))" tabindex="20">
            <mat-icon aria-label="accept">done</mat-icon>
          </button>
          <button mat-icon-button color="warn" type="button" *ngIf="formId && !orgIsEnd()" (click)="deleteOrg()"
                  [disabled]="deleteBtnShouldDisabled" tabindex="22">
            <mat-icon aria-label="delete">delete</mat-icon>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
