

@import "assets/fonts/franklin/index.css";

@font-face {
  font-family: 'adarab';
  src: url('assets/fonts/adobe-arabic/Adobe-Arabic-Regular.otf');
  unicode-range: U+0600-06FF;
}

.page{
  padding: 15px;
  margin: 10px;
}

.field{
  width: 100%;
}

.field-90{
  width: 90%;
}

.maximum-width{
  width: 100%;
}

.farsi-direction{
  direction: rtl;
}

.right-column{
  text-align: right;
}

.left-text{
  text-align: left;
}

.center{
  text-align: center;
}

.card-view{
  min-height: 150px;
  min-width: 200px;
}

.card-header{
  font-weight: bold;
  text-align: center;
}

.card-content{
  font-weight: normal;
}

.ui-widget{
  font-family: Franklin !important;
}

.farsi{
  font-family: 'adarab' !important;
  font-size: 130% !important;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.row{
  margin: 20px 10px;
}
.outer-card{
  margin: 10px 5px;
}

.selected-card{
  background-color: antiquewhite;
}

.title-in-card{
  font-weight: bold;
}

.content-in-card{
  font-weight: normal;
}

.clickable-link{
  text-decoration: none;
  cursor: pointer;
}

.fixed-header{
  position: fixed;
  margin: auto;
  z-index: 10000;
  width: 100%;
  top: 0px;
}

.main-content{
  margin-top: 8%;
}
