/* You can add global styles to this file, and also import other style files */

/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/


/* Franklin */

@import "assets/fonts/franklin/index.css";
.page{
  padding: 15px;
  margin: 10px;
}

.field{
  width: 100%;
}

.field-90{
  width: 90%;
}

.maximum-width{
  width: 100%;
}

.farsi-direction{
  direction: rtl;
}

.right-column{
  text-align: right;
}

.left-text{
  text-align: left;
}

.center{
  text-align: center;
}

.card-view{
  height: 150px;
  min-width: 200px;
}

.card-header{
  font-weight: bold;
  text-align: center;
}

.card-content{
  font-weight: normal;
}

.ui-widget{
  font-family: Franklin !important;
}
