@import "assets/fonts/franklin/index.css";
@import "assets/fonts/merriweather/index.css";
@import "assets/fonts/iran-sans/css/fontiran.css";
@import "assets/fonts/adobe-arabic/index.css";

.page{
  padding: 15px;
  margin: 10px;
}

.field{
  width: 100%;
}

.field-90{
  width: 90%;
}

.maximum-width{
  width: 100%;
}

.farsi-direction{
  direction: rtl;
}

.right-column{
  text-align: right;
}

.left-text{
  text-align: left;
}

.center{
  text-align: center;
}

.card-view{
  min-height: 150px;
  min-width: 200px;
}

.card-header{
  font-weight: bold;
  text-align: center;
}

.card-content{
  font-weight: normal;
}

.ui-widget{
  font-family: Franklin !important;
}

.farsi{
}


.fill-remaining-space {
  flex: 1 1 auto;
}

.mat-toolbar-row{
  font-family: Merriweather;
}

.row{
  margin: 0px 10px;
}
.outer-card{
  margin: 10px 5px;
}

.selected-card{
  background-color: #a69d96;
}

.title-in-card{
  font-weight: bold;
}

.content-in-card{
  font-weight: normal;
}

.clickable-link{
  text-decoration: none;
  cursor: pointer;
}

.main-content{
  margin-top: 8%;
}

.mat-card {
  margin: 6px;
}

.mat-card-title {
  font-family: Merriweather;
  font-weight: normal !important;
}
.mat-card-subtitle {
  font-family: Merriweather;
  font-weight: normal !important;
}

.selected-card {
  /*background-color: #a69d96 !important;*/
  /*color: rgba(255,255,255,.87) !important;*/
}

.selected-card .mat-card-subtitle {
  /*color: rgba(255,255,255,.87) !important;*/
}
.selected-card .mat-card-content {
  margin-bottom: 0px !important;
  font-size: 85% !important;
}
.selected-card a{
  white-space: nowrap;
  margin-bottom: 6px;
  font-width: 300;
}

.selected-card i {
  font-size: 150%;
  width:24px;
  margin-right:4px;
  text-align: right;
}

a {
  color: #76323f;
}

a:hover {
  text-decoration: none !important;
}

.ui-breadcrumb a  {
  background: transparent !important;
}
