@import './iraninsight-theme';
@import "assets/fonts/franklin/index.css";
@import "assets/fonts/merriweather/index.css";
@import "assets/fonts/iran-sans/css/fontiran.css";
@import "assets/fonts/adobe-arabic/index.css";

.page{
  padding: 15px;
  margin: 10px;
}

.field{
  width: 100%;
}

.field-90{
  width: 90%;
}

.maximum-width{
  width: 100%;
}

.farsi-direction{
  direction: rtl;
}

.right-column{
  text-align: right;
}

.left-text{
  text-align: left;
}

.center{
  text-align: center;
}

.card-view{
  min-height: 150px;
  min-width: 200px;
}

.card-header{
  font-weight: bold;
  text-align: center;
}

.card-content{
  font-weight: normal;
}

.ui-widget{
  font-family: Franklin !important;
}

.farsi{
  direction:rtl;
}


.fill-remaining-space {
  flex: 1 1 auto;
}

.mat-toolbar-row{
  font-family: Merriweather;
}

.row{
  margin: 0px 10px;
}
.outer-card{
  margin: 10px 5px;
}

.selected-card{
  background-color: #a69d96;
}

.title-in-card{
  font-weight: bold;
}

.content-in-card{
  font-weight: normal;
}

.clickable-link{
  text-decoration: none;
  cursor: pointer;
}

.fixed-header{
  position: fixed;
  margin: auto;
  z-index: 1000;
  width: 100%;
  top: 0px;
}

.main-content{
  margin-top: 100px;
}

.mat-card {
  margin: 6px;
}

.mat-card-title {
  font-family: Merriweather;
  font-weight: normal !important;
}
.mat-card-subtitle {
  font-family: Merriweather;
  font-weight: normal !important;
}

.selected-card {
  /*background-color: #a69d96 !important;*/
  /*color: rgba(255,255,255,.87) !important;*/
}

.selected-card .mat-card-subtitle {
  /*color: rgba(255,255,255,.87) !important;*/
}
.selected-card .mat-card-content {
  margin-bottom: 0px !important;
  font-size: 85% !important;
}
.selected-card a{
  white-space: nowrap;
  margin-bottom: 6px;
  font-width: 300;
}

.selected-card i {
  font-size: 150%;
  width:24px;
  margin-right:4px;
  text-align: right;
}

a {
  color: #76323f;
}

a:hover {
  text-decoration: none !important;
}

.field-container{
  width: 100%;
  margin: 5px;
}

.mat-input-placeholder{
  line-height: 20px !important;
}

.ui-breadcrumb a  {
  background: transparent !important;
}

.view-title{
  font-weight: bold;
}

.view-content{
  font-weight: normal;
  margin-left: 8px;
}

.farsi .view-content{
  margin-left: unset;
  margin-right: 8px;
}

.menu-item{
  padding: 20px;
  font-size: 1.2em;
}

.menu-container{
  background-color: #d7cec7ef;
}
.menu-container .selected-link {
  background-color: #a69d96 !important;
}
.menu-container .selected-link a{
  color: white !important;
}

.mat-drawer-container{
  overflow: visible !important;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.mat-drawer {
  background: unset !important;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.mat-stepper-horizontal {
  display: unset !important;
}

@media screen and (max-width: 600px) {
  .mat-horizontal-stepper-header {
    padding: 3px !important;
  }
  .mat-horizontal-content-container {
    padding: 0px !important;
  }

  .mat-stepper-horizontal-line {
    margin: 6px !important;
  }

  .mat-expansion-panel-header {
    padding: 5px !important;
    margin-right: 0px !important;
  }

  .mat-expansion-panel-body {
    padding: 5px !important;
  }
}

@media screen and (max-width: 960px) {
  .business-card {
    width: 100%;
  }
}

.fixed-navbar{
  position: fixed;
  top: 100px;
  z-index: 200;
  margin-top: -13px;
  width: 100%;
  background-color: white;
}

.admin-content{
  margin-top: 150px;
}

.menu-button{
  margin-top: 10px !important;
}

.ev-loc{
  height: 250px;
}

.rs-table{
  margin: 10px;
}
.mobile-accordion-container {
  margin: 0px 5px;
  width: 100%;
}

.btn-success{
  color: white !important;
  background-color: mat-color($iraninsight-app-success) !important;
}

.btn-success[disabled]{
  background-color: mat-color($iraninsight-app-success, 100) !important;
}

.logo{
  width: 100px;
  height: 100px;
}

.error-msg{
  font-size: 0.7em !important;
}

.dead-entity{
  background-color: mat-color($iraninsight-app-primary, 700) !important;
}

.description{
  font-size: 0.5em !important;
  color: rgba(176,182,180,0.92) !important;
  margin-top: -30px !important;
}
