<div style="padding: 10px; margin: 5px">
  <div *ngIf="!personId">Add new person</div>
  <div *ngIf="personId">Edit Person</div>
  <br/>
  <form (ngSubmit)="modifyUser()" [formGroup]="personForm">
    <div flexLayout="row" flexLayout.xs="column" flexLayoutAlign="start start" flexLayoutAlign.xs="center center">
      <div fxFlex="50">
        <mat-input-container class="field-90">
          <input matInput type="email" placeholder="Email" formControlName="username" rol="username">
        </mat-input-container>
      </div>
      <div fxFlex="50">
        <!--<mat-input-container>-->
        <!--<input type="file" placeholder="Image" formControlName="image" role="image"/>-->
        <!--</mat-input-container>-->
      </div>
    </div>
    <div  flexLayout="row" flexLayout.xs="column" flexLayoutAlign="start start" flexLayoutAlign.xs="center center">
      <div fxFlex="50" role="firstname-en">
        <mat-input-container class="field-90">
          <input matInput type="text" placeholder="Firstname" formControlName="firstname_en" (ngModelChange)="fieldChanged($event)"/>
        </mat-input-container>
      </div>
      <div fxFlex="50" dir="rtl">
        <mat-input-container class="field-90 farsi">
          <input matInput type="text" placeholder="نام" formControlName="firstname_fa" role="firstname-fa" (ngModelChange)="fieldChanged()"/>
        </mat-input-container>
      </div>
    </div>
    <div flexLayout="row" flexLayout.xs="column" flexLayoutAlign="start start" flexLayoutAlign.xs="center center">
      <div fxFlex="50">
        <mat-input-container class="field-90">
          <input matInput type="text" placeholder="Surname" formControlName="surname_en" role="surname-en" (ngModelChange)="fieldChanged()"/>
        </mat-input-container>
      </div>
      <div fxFlex="50" dir="rtl">
        <mat-input-container class="field-90 farsi">
          <input matInput type="text" placeholder="نام خانوادگی" formControlName="surname_fa" role="surname-fa" (ngModelChange)="fieldChanged()"/>
        </mat-input-container>
      </div>
    </div>
    <div *ngIf="personId">
      <button mat-raised-button type="button" (click)="resetPassword()" [disabled]="resetPasswordBtnShouldDisabled">Reset Password</button>
    </div>
    <div>
      <mat-input-container class="field">
        <textarea matInput placeholder="Address" formControlName="address_en" role="address-en" (ngModelChange)="fieldChanged()"></textarea>
      </mat-input-container>
    </div>
    <div dir="rtl">
      <mat-input-container class="field farsi">
        <textarea matInput placeholder="آدرس" formControlName="address_fa" role="address-fa" (ngModelChange)="fieldChanged()"></textarea>
      </mat-input-container>
    </div>
    <div>
      <!--<mat-select placeholder="Country">-->
      <!--<mat-option></mat-option>-->
      <!--</mat-select>-->
      <mat-input-container class="field-90">
        <input matInput type="text" placeholder="Mobile number" formControlName="mobile_no" (ngModelChange)="fieldChanged()"/>
      </mat-input-container>
    </div>
    <div>
      <!--<mat-select placeholder="Counter">-->
      <!--<mat-option></mat-option>-->
      <!--</mat-select>-->
      <!--<mat-select placeholder="City">-->
      <!--<mat-option></mat-option>-->
      <!--</mat-select>-->
      <mat-input-container class="field-90">
        <input matInput type="text" placeholder="Phone number" formControlName="phone_no" (ngModelChange)="fieldChanged()"/>
      </mat-input-container>
    </div>
    <div flexLayout="row" flexLayout.xs="column" flexLayoutAlign="start start" flexLayoutAlign.xs="center center">
      <div fxFlex="50">
        <mat-form-field class="field-90">
          <input matInput [matDatepicker]="birth_picker" placeholder="Birth Date" formControlName="birth_date"
                 role="birth-date" (ngModelChange)="fieldChanged()"/>
          <mat-datepicker-toggle matSuffix [for]="birth_picker" role="birth-date-picker"></mat-datepicker-toggle>
          <mat-datepicker #birth_picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="right-column">
        <mat-form-field class="left-text field-90">
          <mat-select formControlName="notify_period" placeholder="Get notification" role="notify-period" (ngModelChange)="fieldChanged()">
            <mat-option *ngFor="let pt of periodTypes" [value]="pt.value">{{pt.title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div role="submit-button">
      <button mat-raised-button color="primary" type="submit" [disabled]="upsertBtnShouldDisabled || (!personForm.valid || (personId && !anyChanges))">
        <span *ngIf="!personId">Add</span>
        <span *ngIf="personId">Update</span>
      </button>
      <button mat-raised-button color="primary" type="button" *ngIf="personId" (click)="deletePerson()" [disabled]="deleteBtnShouldDisabled">Delete</button>
    </div>
  </form>
</div>
