@import '../../../../../iraninsight-theme';
.row{
  margin: 20px 10px;
}
.member-card{
  margin: 10px 5px;
}
.selected-member{
  background-color: #a69d96;
  color: white !important;
}

.row{
  margin: 20px 10px;
}
.card{
  margin: 10px 5px;
}
.selected-card{
  background-color: antiquewhite;
}

.warn {
  color: mat-color($iraninsight-app-warn);
}
.success{
  color: mat-color($iraninsight-app-success);;
}