<mat-card class="center">
  <mat-card-header>
    Removing Confirmation
  </mat-card-header>
  <mat-card-content class="page">
    Are you sure to remove {{name}}
    <div fxLayout="row" rxLayout.xs="column" fxLayoutAlign="center center">
      <div fxFlex="50" role="yes-btn">
        <button mat-icon-button (click)="remove(true)">
          <mat-icon aria-label="yes">done</mat-icon>
        </button>
      </div>
      <div fxFlex="50" role="no-btn">
        <button mat-icon-button (click)="remove(false)">
          <mat-icon aria-label="no">clear</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
